body {
    max-width: 720px;
    margin: 0 auto;
    font-family: sans-serif;
}

div .smallPit, div .bigPit {
    margin: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
}

div.smallPit {
    border: 3px solid #fce344;
    height: 50px;
    line-height: 50px;
    width: 70px;
}

div.bigPit {
    border: 3px solid green;
    height: 117px;
    line-height: 117px;
    margin: 5px 5px 5px 0;
    width: 90%;
}

div.left {
    float: left;
    width: 90px;
}

div.right {
    float: right;
    width: 90px;
}

div.top, div.bottom {
    float: left;
    width: 540px;
}

.notification p {
    text-align: center;
    background: lightgreen;
    border-radius: 5px;
    padding: 1em 0;
    font-size: 1.1em;
}

.button {
    border: 3px solid lightgray;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: bisque;
    text-decoration: none;
    color: black;
    float: left;
    margin-top: 2em;
    font-size: 1.1em;
    font-family: sans-serif;
    display: inline-block;
}

.button + .button {
    margin-left: 1em;
}

.unclickable {

}

.player {
    clear: both;
    text-align: center;
    font-size: 1.1em;
}
