<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Awale Game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/awale.css}"/>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/sockjs-client/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" th:src="@{/js/awale.js}"></script>
</head>
<body>
<div id="main-content" class="container">
    <div id="notification" class="notification">
        <p th:if="${isGameFinished eq 'true'}">
            The game is finished!
        </p>
        <p th:unless="${isGameFinished eq 'false'}" th:text="${'It''s ' + activePlayer.name + '''s turn.'}">
            The game is not finished.
        </p>
    </div>
    <div id="game" class="game">
        <div class="player">Player 2</div>
        <div class="left">
            <div id="bigPitLeft" class="bigPit" th:text="${pits.get(13).count()}">0</div>
        </div>
        <div class="right">
            <div id="bigPitRight" class="bigPit" th:text="${pits.get(6).count()}">0</div>
        </div>
        <div class="top" >
            <div th:each="pit,iterStat : ${northPlayerPits}" th:id="${'smallPit' + (12 - iterStat.index)}" class="smallPit unclickable" th:text="${pit.count()}">0</div>
        </div>
        <div class="bottom">
            <div th:each="pit,iterStat : ${southPlayerPits}" th:id="${'smallPit' + iterStat.index}" class="smallPit" th:text="${pit.count()}">0</div>
        </div>
        <div class="player">Player 1</div>
    </div>
    <div id="resetButtonBlock">
        <a href="#" id="resetButton" class="button">Reset game</a>
        <a href="#" id="connectButton" class="button">Connect</a>
        <a href="#" id="disconnectButton" class="button">Disconnect</a>
    </div>
</div>
</body>
</html>